// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/83387', target='_blank', data-imgload='img/article/l_09/01.png')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/83388', target='_blank', data-imgload='img/article/l_09/02.png')
			.txt
				ul.dateWrap
					li.now
						.date 30
						.month Aug
							br
							| 2018
						.author by One
					li
						.date 07
						.month Sep
							br
							| 2018
						.author by One
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/83387', target='_blank')
								h3 鏡頭前後最零差別的藝人！炎亞綸：我並不是單純的在做自己這麼簡單三個字
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 說到炎亞綸第一直覺會想到敢發言多爭議、飛輪海、偶像、霸道總裁、閨蜜型男友...等，這篇與其說是專訪不如說是跟一個在演藝圈工作的人交流、交朋友，不管有沒有上機、錄音，炎亞綸都是同一個樣子，任何話題都能坦然說出自己想法，時而認真回答、時而幽默反擊，炎亞綸是真誠自在的與現場每個人交流。此次帶來這張對自己很重要的迷你專輯《親愛的怪物》，從孵化到生出過程，其實就是涵蓋了炎亞綸的對這世界和人的體悟。不管你本來就是炎神粉或對他充滿問號，這篇訪問將帶大家知道，炎亞綸的敢言並非源自於做自己這樣簡單。
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/83387', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/83388', target='_blank')
								h3 穿女裝當場玩起宮廷劇？時髦怪物炎亞綸：我最近正好缺一套裙裝的造型，這套我可以平常穿出門！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 對於流行這件事，炎亞綸認為：「現在資訊取得太容易，隨便一滑就可以看到很多名人偶像的穿搭是什麼牌子、怎麼搭，大家一股腦跟風的買、Copy 穿搭，是不是真的連去思考自己適合穿什麼都懶了？」炎亞綸對於自己的服裝造型，在過去聽從於公司的專業安排，形象造型上比較沒有投入太多自己的意見，而隨著越來越了解去分辨什麼才是適合自己的時候，開始有了些想法也與造型師溝通，特別此次《親愛的怪物》視覺團隊，找來有著深厚私交的知名造型師陳孫華主導，於公於私都相當信任彼此，也因此這次玩出了有藝術概念的風格。而這次 JUKSY 的封面拍攝炎亞綸無設限的穿了三種不同風格的造型，話不多說就來看看吧！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href=' https://www.juksy.com/archives/83388', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end